<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"> 
<head> 
	<title th:remove="all">Order Confirmation</title> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
</head> 
   <body>  
	<div> 
   		<h1>Pedido número: <span th:text="${pedido.idPedido}"> </span></h1> 
   		  
		<p>Horario do Pedido: <span     th:text="${#dates.format(pedido.horarioPedido, 'dd/MM/yyyy hh:mm')}"></span></p>   
		<p>Cliente: <span th:text="${pedido.cliente.nomeCliente}"></span></p>   
		<p>Situação do pagamento: <span     th:text="${pedido.pagamento.situacaoPagamento.descricao}"></span></p>   


	<h3>Detalhes do pedido:</h3>   
	    <table border="1">    
		<tr>     
	      <th>Produto</th>     
		  <th>Quantidade</th>     
		  <th>Descrição do Item</th>     
		  <th>Preço unitário</th>     
          <th>Subtotal</th>    
		</tr>    
		   <tr th:each="item : ${pedido.items}">     
		   <td th:text="${item.produto.nomeProduto}">Nome Produto</td>     
		   <td th:text="${item.quantidade}">Quantidade do Produto</td>
		   <td th:text="${item.descricaoItemPedido}">Descrição do Produto</td>     
		   <td th:text="${#numbers.formatDecimal(item.preco, 0, 'POINT', 2, 'COMMA')}">Preço unitário</td>     
		   <td th:text="${#numbers.formatDecimal(item.subTotal, 0, 'POINT', 2, 'COMMA')}">Sub Total</td>    
	       </tr>   
           </table>   

	   <p>Valor total: <span th:text="${#numbers.formatDecimal(pedido.valorTotal, 0, 'POINT', 2, 'COMMA')}"></span></p>  
    </div> 
</body> 
</html>